﻿.input {
    margin: 0 auto;
    text-align: center;
}

.input-password {
    font-size: 2.3em;
    line-height: 1.5em;
    background: #fff;
    background: rgba(255,255,255,0.6);
    border-left: 0;
    border-right: 0;
    border: 2px solid #808080;
    border-radius: 25px;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    height: 1.5em;
    margin-top: 1em;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-transform: none;
    width: 60%;
}

input:focus {
    outline: 0;
}

button {
    background-color: #44c767;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 24px;
    padding: 5px 22px;
    text-decoration: none;
    text-shadow: 0px 0px 50px #2f6627;
}

button:hover {
        background-color: #5cbf2a;
}

button:active {
    position: relative;
    top: 1px;
}


*::-webkit-input-placeholder {
    color: #b7aeae;
}

*:-moz-placeholder {
    color: #b7aeae;
}
/* Trình duyệt FF 4-18 */
*::-moz-placeholder {
    color: #b7aeae;
}
/* Trình duyệt FF 19+ */
*:-ms-input-placeholder {
    color: #b7aeae;
}
