﻿body {
    background-color: #F8F8F8;
    min-height: 100%;
}


footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    max-height: 70px;
    color: floralwhite;
    font-size: medium;
}
