﻿.show-analysis, .show-guide {
    font-size: 24px;
    color: #222;
}

.show-guide {
    font-style: italic;
    font-size: 22px;
}

.show-error {
    font-weight: bold;
    font-size: 120%;
}

.text-show {
    font-style: italic;
    font-size: 22px;
    margin: 10px 15px 5px 10px;
}