﻿
.nav-background {
    border: none;
}

.container-style {
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

.title {
    color: #4CAF50;
    text-align: center;
}

.note {
    color: #AFCDB3;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:visited {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: forestgreen;
    text-decoration: none;
}

.text-center{
  text-align: center;
}

.clear-dot {
    list-style-type: none;
}

.text-bold {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}

.home-content{
    margin-top: 5%;
}

