﻿@model ViewModel

<div class ="home-content">
    <div class="title">
        <h2>Mật khẩu của bạn an toàn như thế nào&#63;</h2>
        <h5 class="note">
            &#40;Vui lòng đọc kỹ
            <a href="/term">điều khoản</a>
            trước khi sử dụng ứng dụng&#33;&#41;
        </h5>
    </div>
    <br />

    <div class="input">
        <form asp-controller="Home" asp-action="Index" method="post">
            <input id="password" asp-for="PasswordModel.Password" type="password" placeholder="Nhập mật khẩu" class="input-password" />
            <br/>
            <button type="submit">KIỂM TRA</button>
        </form>
    </div>
</div>

@if (Model != null) {
<div>
    <hr />
    @if (Model.ResultModel.Error == null)
    {
        <div class="show-analysis">
            <div class="text-center text-bold">
                <p>Đánh giá mật khẩu</p>
                <p style="color:@Model.ResultModel.LevelColor">@Model.ResultModel.Level</p>
            </div>
            <div>
                <p class="text-center">@Model.ResultModel.Message</p>
                <div>
                    <p>@Model.ResultModel.Length</p>
                    <p>@Model.ResultModel.Complexity</p>
                    <p>@Model.ResultModel.Time</p>
                </div>
            </div>
        </div>
        @if (Model.RecommendModel.Title != null)
        {
            <div class="show-guide">
                <hr />
                <p >@Model.RecommendModel.Title </p>
                <ul class="clear-dot">
                    @if (@Model.RecommendModel.AllCase != null)
                    {
                        <li>@Model.RecommendModel.AllCase </li>
                    }
                    @if (@Model.RecommendModel.UpperCase != null)
                    {
                        <li>@Model.RecommendModel.UpperCase </li>
                    }
                    @if (@Model.RecommendModel.LowerCase != null)
                    {
                        <li>@Model.RecommendModel.LowerCase </li>
                    }
                    @if (@Model.RecommendModel.Digit != null)
                    {
                        <li>@Model.RecommendModel.Digit </li>
                    }
                    @if (@Model.RecommendModel.Symbol != null)
                    {
                        <li>@Model.RecommendModel.Symbol </li>
                    }
                    @if (@Model.RecommendModel.Length != null)
                    {
                        <li>@Model.RecommendModel.Length </li>
                    }
                 </ul>
            </div>
            }
     }
     else
      {
        <div class="text-center show-error">
            @Model.ResultModel.Error
        </div>
     }
</div>
}